{{>navigationMantenimiento}}
<div class="container p-0 m-5 mt-4">
    <h3 class="text-center text-uppercase">Lista de Mantenimientos</h3>
    {{#if mantenimientos.length}}
    <table class="table table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Vehículo</th>
                <th>Taller</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Kilometraje</th>
                <th>Descripción</th>
                <th>Costo</th>
                <th>Cambio de Aceite</th>
                <th>Cambio de Frenos</th>
                <th>Alineación y Balanceo</th>
                <th>Revisión Sistema Eléctrico</th>
                <th>Revisión Neumáticos</th>
                <th>Certificación Ambiental</th>
                <th>Certificación Mecánica</th>
                <th>Detalles</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each mantenimientos}}
            <tr>
                <td>{{this.Man_id}}</td>
                <td>{{this.Man_vehiculo_placa}}</td>
                <td>{{this.Tal_nombre}}</td>
                <td>{{this.Man_fecha}}</td>
                <td>{{this.Man_tipo}}</td>
                <td>{{this.Man_kilometraje_actual}}</td>
                <td>{{this.Man_descripcion}}</td>
                <td>${{this.Man_costo}}</td>
                <td>{{#if this.Man_cambio_de_aceite}}Sí{{else}}No{{/if}}</td>
                <td>{{#if this.Man_cambio_frenos}}Sí{{else}}No{{/if}}</td>
                <td>{{#if this.Man_alineación_y_balanceo}}Sí{{else}}No{{/if}}</td>
                <td>{{#if this.Man_revision_sistema_electrico}}Sí{{else}}No{{/if}}</td>
                <td>{{#if this.Man_revision_neumaticos}}Sí{{else}}No{{/if}}</td>
                <td>{{#if this.Man_certificacion_ambiental}}Sí{{else}}No{{/if}}</td>
                <td>{{#if this.Man_certificacion_mecanica}}Sí{{else}}No{{/if}}</td>
                <td>{{this.Man_detalles}}</td>
                <td>{{this.Man_estado}}</td>
                <td>
                    <div class="btn-group">
                        <a href="/editMantenimiento/{{this.Man_id}}" class="btn btn-warning">
                        <i class="fa-solid fa-pencil"></i></a>
                        <a href="/deleteMantenimiento/{{this.Man_id}}" class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="alert alert-info text-center">No hay mantenimientos registrados.</div>
    {{/if}}
</div>
